@font-face {
    font-family: "SF Comic Script Outline";
    font-style: normal;
    font-weight: normal;
    src:url("/assets/SF\ Comic\ Script.ttf");
    
}

h1 {
    font-family: "SF Comic Script Outline";
}

#mycanvas {
    background: #eee;
    border: white 8px inset;
    padding: 0; margin: 0; 
    display: block;
    margin: 0 auto;
     
}